# Ignore class files
*.class

# Ignore JAR files
*.jar
*.war

# Ignore log files
*.log

# Ignore IDE specific files
/.idea/
/*.iml
*.project
*.classpath
/.settings/
target/
bin/
.vscode

# Ignore local environment files
.env
*.properties

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore backup files
*~
*.bak

# Ignore any other temporary files
*.tmp
